cbis.build.client.version=vitality
instance.name={{ cbis_instance }}
cbis.imago.illustration.licencekey={{ imago_illustration_licensekey }}
cbis.mq.connection.credentials.username={{ mq_connection_credentials_username }}
cbis.jms.outgoing.callback.url={{ jms_outgoing_url }}
cbis.bulkupload.console.url={{ bulkupload_console_url }}
cbis.console.url={{ console_url }}
cbis.waitingApproval.url={{ waitingApproval_url }}

